{% extends 'base.html' %}

{% block user_profile %}
  <!-- Empty block, you might choose to hide the user profile or other elements here -->
{% endblock user_profile %}

{% block header_title %}Secure Login{% endblock header_title %}

{% block content %}
<div class="container">
    <div class="authentication-form">
        <h2>{% block title %}Authentication{% endblock title %}</h2>
        <p>Please enter your credentials to proceed.</p>
        {% block form %}
        <!-- Form block will be overridden by child templates -->
        {% endblock form %}
    </div>
</div>
{% endblock content %}
